body {
    font-family: 'Inter', sans-serif;
}

#title {
    font-weight: 700;
}

#subhead {
    font-style: italic;
    font-weight: 200;
}

#title1 {
    font-weight: 900;
}

#toc {
    font-weight: 900;
    font-style: italic;
}